<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apprendreunelangueetrangere"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity android:name="com.example.apprendreunelangueetrangere.page1"/>
         <activity android:name="com.example.apprendreunelangueetrangere.greetings"/>
         <activity android:name="com.example.apprendreunelangueetrangere.relatives"/>
         <activity android:name="com.example.apprendreunelangueetrangere.feelings"/>
         <activity android:name="com.example.apprendreunelangueetrangere.transportations"/>
         
         
        <activity android:name="com.example.apprendreunelangueetrangere.page2"/>
        <activity android:name="com.example.apprendreunelangueetrangere.presentation"/>
        <activity android:name="com.example.apprendreunelangueetrangere.salutation"/>
        <activity android:name="com.example.apprendreunelangueetrangere.heure"/>
        <activity android:name="com.example.apprendreunelangueetrangere.questiongenerale"/>
       
         
         
         
         
        <activity android:name="com.example.apprendreunelangueetrangere.phrases"/>
       <activity android:name="com.example.apprendreunelangueetrangere.phrasesh"/>
         <activity android:name="com.example.apprendreunelangueetrangere.phrasess"/>
         <activity android:name="com.example.apprendreunelangueetrangere.phrasesq"/>
         
         <activity android:name="com.example.apprendreunelangueetrangere.enphrasest"/>
         <activity android:name="com.example.apprendreunelangueetrangere.enphrasesr"/>
         <activity android:name="com.example.apprendreunelangueetrangere.enphrasesg"/> 
         <activity android:name="com.example.apprendreunelangueetrangere.enphrasesf"/> 
    </application>

</manifest>
